
<div class="container-fluid mt-5 justify-content-center bg-light">
  <footer>
    <hr>
    <h5 class="justify-content-center text-center">
      Todos os direitos reservados &copy; João Vitor
    </h5>
    <p class="justify-content-center text-center">Me siga nas redes sociais :D</p>
    <p class="justify-content-center text-center">
    <a href="facebook.com" class="link-black p-3"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"> </i></a>
    <a href="instagram.com" class="link-black p-3 "> <i class="fa fa-instagram fa-2x" aria-hidden="true"> </i></a>
    <a href="linkedin.com" class="link-black p-3"> <i class="fa fa-linkedin-square  fa-2x" aria-hidden="true"></i></a>
    </p>
  </footer>

  </div>
