.imgxl{
  max-width: 500px;
  max-height: 500px;
}


input, select, textarea {
  background-color: rgb(63, 63, 63);
  color:#fff;
  border:none
}


input:focus, textarea:focus, select:focus {
  background-color: rgb(63, 63, 63);
  color:#fff;
}
