<div class="allBlack">
<div class="container-fluid">
  <div class="row bg-dark d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Seja bem vindo(a)</h1>
          <h5>Expresse aqui seus pensamentos e opniões!</h5>
        </div>
      </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
        <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
      </div>
    </div>
</div>
    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://imgur.com/Bf98ZVN.jpg" class="imgxl">
    </div>
  </div>
</div>

<div class="container mb-5 mt-5 allBlack" id="postagens">
  <ul class="nav nav-tabs d-flex justify-content-center" id="navTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
    </li>
    <li class="nav-item">
      <a (click)='findByIdUser()' class="nav-link" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema"  role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"  aria-labelledby="nav-todasPostagens-tab">
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="tituloPesquisa"
            placeholder="Digite uma postagem para pesquisar" [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()' >
          </div>
        </div>
      </div>

      <div class="card-columns mt-5">
        <div class="card text-center" *ngFor='let item of listaPostagens | orderBy : key : reverse'>
          <div class="card-body allBlack">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text"><small class="text-muted">
              Tema: {{item.tema.descricao}}
            </small></p>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
            </small></p>
            <p class="card-text"><small class="text-muted">
              Por: {{item.usuario.nome}}
            </small></p>
            <p class="card-text"><small class="text-muted">
              <button (click)='getPostagemById(item.id)' (click)='descurtida(item.id)' class="btn"><i class="fa fa-thumbs-down text-white"  aria-hidden="true"></i></button>
              Curtidas: {{item.curtidas}}
              <button (click)='getPostagemById(item.id)' (click)='curtida(item.id)' class="btn"><i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
            </small></p>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="minhasPostagens"  role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="tituloPesquisa"
            placeholder="Digite uma postagem para pesquisar" [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()' >
          </div>
        </div>
      </div>
      <div class="card-columns mt-5">
        <div class="card text-center" *ngFor='let item of user.postagem | orderBy : key : reverse'>
          <div class="card-body allBlack">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text"><small class="text-muted">
              Tema: {{item.tema.descricao}}
            </small></p>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
            </small></p>
            <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3">Editar</a>
            <a [routerLink]="['/postagem-delete', item.id]" class="text-danger">Apagar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="postagemTema"  role="tabpanel" aria-labelledby="nav-postagemTema-tab">
      <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="tituloPesquisa"
            placeholder="Digite um tema para pesquisar" [(ngModel)]='nomeTema' (keyup)='findByNomeTema()' >
          </div>
        </div>
      </div>
      <div class="card-columns mt-5" *ngFor='let tema of listaTemas'>
        <div class="card text-center" *ngFor='let item of tema.postagem | orderBy : key : reverse'>
          <div class="card-body allBlack">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
              {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
            </small></p>
            <p class="card-text"><small class="text-muted">
              Por: {{item.usuario.nome}}
            </small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content allBlack">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Fazer Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" [(ngModel)]='postagem.titulo' class="form-control" id="titulo" placeholder="Digite o título">
        </div>
       <div class="form-group">
         <label for="titulo">Texto</label>
         <textarea class="form-control" [(ngModel)]='postagem.texto' name="texto" id="" rows="3"></textarea>
       </div>
       <div class="form-group">
         <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:</label>
         <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
          <option *ngFor='let tema of listaTemas' value="{{tema.id}}">{{tema.descricao}}</option>
         </select>

       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='publicar()'>Publicar</button>
      </div>
    </div>
  </div>
</div>


